<a href="https://colab.research.google.com/github/aaguil8a/Generate_and_visualize_data_Python/blob/main/Copy_of_Data_Visualization.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
import seaborn as sns
from datetime import datetime
import dateutil.parser as parser
from pandas.plotting import register_matplotlib_converters
register_matplotlib_converters()

In [2]:
filename = '/content/Abortion Support (3).xlsx'

df = pd.read_excel(filename)

In [3]:
df.T

                                       0   ...            62
Poll Date                   2021 May 3-18  ...  1975 Apr 4-7
Legal under any %                    0.32  ...          0.21
Legal only under certain %           0.48  ...          0.54
Illegal in all %                     0.19  ...          0.22
No opinion %                         0.02  ...          0.03

[5 rows x 63 columns]

In [4]:
df.shape

(63, 5)

In [5]:
df.min()

Poll Date                     1975 Apr 4-7
Legal under any %                     0.21
Legal only under certain %            0.48
Illegal in all %                      0.12
No opinion %                          0.01
dtype: object

In [6]:
df.max()

Poll Date                     2021 May 3-18
Legal under any %                      0.34
Legal only under certain %             0.61
Illegal in all %                       0.23
No opinion %                           0.07
dtype: object

In [7]:
df.rename(columns = {'Poll Date':'Poll_Date'}, inplace = True)

In [16]:
def tweak_alta(df):
  return(df.assign(
    Poll_Date=pd.to_datetime(df.Poll_Date),
              MONTH=lambda df_: df_.Poll_Date.dt.month,
              QTR=lambda df_: df_.Poll_Date.dt.quarter,
              YEAR=lambda df_: df_.Poll_Date.dt.year,
              DAY=lambda df_: df_.Poll_Date.dt.day_name()
              [['Poll_Date','MONTH', 'QTR', 'YEAR', 'DAY']]
              )

SyntaxError: ignored